body{
    background: url('https://i.ibb.co/8mKvpqp/thanos.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}